$primary: #ffffff;
$primary-light: #ffffff;
$primary-dark: #cccccc;
$primary-contrast: #000000;

$secondary: #064fbd;
$secondary-light: #9cd1fd;
$secondary-dark: #0a55ce;
$secondary-contrast: #ffffff;

$tertiary: #f4b837;
$tertiary-dark: #e78d32;
$tertiary-contrast: #ffffff;

$gray-light: #e6e7f3;

$gradient-yellow-begin: #e65c00;
$gradient-yellow-end: #f9d423;

$gradient-blue-begin: #3a7bd5;
$gradient-blue-end: #3a6073;
